@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* ------------stili homepage----------------- */

body{
	background-image: url('/public/cybersbg.jpg');
  background-position: center;
	background-size: cover;
	background-attachment: fixed; //fissa il bg-img per evitare lo scrolling
	background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  
  

}
/* aggiunge un overlay trasparente all'immagine di sfondo */
body::before {
  content: "";
  background: rgba(173, 171, 171, 0.5); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Posiziona l'overlay dietro all'immagine di sfondo */
}



/* ----------------------------------------- */
/*-----------------------------*/
